html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

[hidden] {
    display: none !important;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none !important;
}

html, body {
    height: 100%;
}

button, input {
    font-family: inherit;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
}

a {
    text-decoration: none;
    color: inherit;
}

a, button {
    cursor: pointer;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p, figure {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #000000;
}

.main {
    min-width: 320px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    outline: none !important;
    min-height: 100%;
    overflow-x: hidden;
    max-width: 550px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
}

.button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #000000;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out;
}

.button.loading {
    transform: translate(-100%, -50%) scale(1.2);
    pointer-events: none;
}

.button__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    transition: 0.4s ease-in-out;
}

.button.loading .button__title {
    transform: translate(90%, -50%) scale(1.2);
}

.loader {
    border: 2px solid;
    border-radius: 50%;
    border-right: 2px solid transparent;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: rotate 0.4s ease-in-out;
}

.button.loading .loader {
    -webkit-animation: Spinner_spinner-border 1s linear infinite;
    animation: Spinner_spinner-animation 1s linear infinite;
    animation-delay: 0.15s;
}

.button.bottom--position {
    bottom: 10vh;
    transform: translate(-50%, 50%);
}

.button.bottom--position.loading {
    transform: translate(-100%, 50%) scale(1.2);
    bottom: 50%;
}

.button.bottom--position.loading .button__title {
    transform: translate(90%, -50%) scale(1.2);
}

@-webkit-keyframes Spinner_spinner-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes Spinner_spinner-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cocktail {
    height: 70vh;
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
}

.cocktail__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
}

.cocktail__img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.cocktail-container {
    margin-bottom: 10px;
    padding: 10px;
}

.cocktail__container {
    display: none;
    margin-top: 10px;
}

.cocktail__container.open,
.cocktail__ingredients {
    display: block;
}

.cocktail-container__span {
    font-style: italic;
    position: relative;
    color: #FFFFFF;
}

.icon {
    display: inline-block;
}

.icon__arrow {
    width: 10px;
    height: 8px;
    margin-left: 2px;
}
